*{
    margin: 0;
    padding: 0;
}


 html body.acceuil{
    margin: 0;
    font-family: sans-serif;
    height: auto;
}


header{
  display: flex;
  justify-content: space-around; 
  background-color: rgba(0, 0, 0, 0.753);
  padding: 10px;
  align-items: center;
}
.logo{
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    color: white;
}

.logo span{
    color: orange;
}

.menu-nav{
    display: flex;
    list-style: none;
    width: 50%;
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: 1rem;
    gap: 10px;
    

}

.menu-nav li{
    font-weight: bold;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.menu-nav li a {
    text-decoration: none;
    color: white;
}

ul .acceuil{
    color: orange;
    font-weight: bold;
    
}

.hero{
    background-image: url(/image/pexels-ahmed-akacha-3313934-9993429.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slogan-acceuil{
    font-size: 50px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.slogan-acceuil span{
    color: orange;
}

.p-accueil{
    text-align: center;
    color: white;
    font-size: 1.6em;
}

.hero h6{
    text-align: center;
    font-weight: 1000;
    color: white;
    font-size: 1rem;
    text-shadow: 0 0 5px orange;
}

.container-bouton-acceuil{
    display: flex;
    justify-content: center;
}

.container-bouton-acceuil ul{
    display: flex;
    gap: 10px;
    list-style: none;  
    
}

.container-bouton-acceuil ul li{
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 50px;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.596);
    box-shadow: 0 0 5px orange;
}

 .container-bouton-acceuil ul .li-info{
    background-color: #05050567;
}

li .info{
    color: white;
    text-decoration: none;
    
}

li .don{
    text-decoration: none;
    color: #050505;
}
 
.bannier-don{
    background-color:black;
    margin: 0;
    padding:  40px;
    color: white;
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
}

.container-bannier-don i{
    display: flex;
    justify-content: center;

}

.container-bannier-don p{
    display: flex;
    justify-content: center;
    font-weight: bold;

}

.container-bannier-don a{
    display: flex;
    justify-content: center;
    color: orange;
    text-decoration: none;
    font-weight: bolder;

}

.apropos {
    background-color: rgb(250, 248, 248);
    height:auto;
    padding: 2vw;
}

.container-header-apropos{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

.container-header-apropos h2{
    font-weight: bold;
    font-size: 2.5rem;

}
.trait{
    padding: 0;
    margin: 0;
    font-size: 40px;
    color: orange; 
    display: flex;
    align-items: center;   
}
.texte-apropos{
    color: rgb(87, 85, 85);
    font-size: 1.1em;
    display:flex;
    align-items: center;
    
}

.container-body-apropos{
   display: flex;
   justify-content: space-around;
   margin-top: 50px;
   width: 100%;
   flex-wrap: wrap;
   
}

.accordion {
    border: 1px solid #f1c40f;
    background-color: #f1c40f;
    margin-bottom: 50px;
    height: auto;
  }
  
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
  }
  
  .accordion-content {
    background: white;
    padding: 1rem;
    display: none; /* caché par défaut */
  }
  
  .video-apropos{
    width: 50%;
  }
.video-apropos video{
    width: 100%;
}
.service {
    background-color: rgb(15, 15, 15);
    height:auto;
    padding: 20px 40px;
    color:white;
}


.container-groupe-element-service1{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.container-groupe-element-service1 div i{
    display: flex;
    justify-content: center;
    color: orange;
    font-weight: bold;
}


.container-groupe-element-service1 p{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
}


.container-groupe-element-service1 div a{
    display: flex;
    justify-content: center;
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

.container-groupe-element-service2{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.container-groupe-element-service2 div i{
    display: flex;
    justify-content: center;
    color: orange;
    font-weight: bold;
}


.container-groupe-element-service2 p{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
}


.container-groupe-element-service2 div a {
    display: flex;
    justify-content: center;
    color: orange;
    text-decoration: none;
    font-weight: bold;
}



.baniere-aide{
    background-color: #f1c40f;
    height: auto;
    padding: 20px 40px;
}

.baniere-aide h2{
    display: flex;
    justify-content: center;
}

.baniere-aide p{
    display: flex;
    justify-content: center;
}

.baniere-aide a{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    text-decoration: none;
}

.baniere-aide a button{
    width: 270px;
    height: 40px;
    box-shadow: 0 0 5px rgb(8, 8, 8);
    font-weight: bold;
    color: white;
    background-color: black;
}


.cause{
    background-color: white;
    height:auto;
    padding: 20px 40px;
    color:black;
}

.box-cause{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.donation-section {
    width: 20%;
    text-align: center;
    
}

.donation-image {
    width: 100%;
    height: auto;
}

.donation-text {
    margin: 15px 0;
    font-size: 18px;
}

.progress-container {
    margin-top: 20px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-fill {
    width: 71%; /* (5000/7000) * 100 ≈ 71% */
    height: 100%;
    background-color: #ffc107; /* Jaune */
}

.progress-info {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 15px;
}

.donate-button {
    background-color: #ffc107;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

.donate-button:hover {
    background-color: #e0a800;
}

.gallerie{
    margin-bottom: 50px;
    margin-top: 60px;
}

.container-slider{
    margin-top: 60px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-photo1{
    width: 20%;
}

.container-photo1 img{
    width: 100%;
}

.container-liens{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-liens{
    margin: 20px 0 20px 0;
    border: none;
    padding: 5px;
    border-radius: 30px;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1c40f;
}

.box-liens a{
    text-decoration: none;
    color: black;
}

.second{
    margin: 0;
}


 
.notre-equipe{
    margin: 10px;
    padding: 10px;
}

.team{
   border-radius: 5px;
   
}


.evenement{
    background-color: #050505;
    padding: 5%;
}

.evenement-titre{
    color: white;
}

.container-element-evenement{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}
.element1{
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: auto;
    height: auto;
    text-align: center;
}

.info-evenemet p{
   font-size: 1em; 
   text-align: center;
}
.calendrier-evenemet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.calendrier-evenemet p span{
    color: orange;
}

.btn {
    display: flex;
    justify-content: space-evenly;
} 

.btn1 {
    height: 30px;
    background-color: rgba(39, 38, 37, 0.616);
}

.btn1 a {
    text-decoration: none;
    color: white;
}
.btn1 a:hover {
    color: orange;
}
.btn1 button {
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 1px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.publicite{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-image: url(/image/children-s-day-celebration-with-cute-kid-portrait\ \(1\).jpg);
    background-size: cover;
    flex-wrap: wrap;
    
}

.publicite div img{
    width: 80px;
}

.nouvelle{
    margin: 100px;
    
    
}

.container-nouvel{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.element1-nouvelle{
    width: 20%;
    height: auto;
}

.element1-nouvelle img{
    width: 100%;
    height: auto;
}

.element1-nouvelle .info{
    display: flex;
    gap: 1rem;
}


.element1-nouvelle .info .date p{
    background-color: #050505;
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 1px;
}

.info2{
    margin: 0;
    padding: 0px;
}

.contact {
    margin-bottom: 10px;
}

.container-body-contact{
    display: flex; 
    margin-top: 80px;   

}

.container-form-contact{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

form{
    height: 100%;
    flex-wrap: wrap;
}


.form1{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.form1 input{
    width: 40%;
    border: none;
    border-bottom:   1px solid #080808;
}
.form1 textarea{
    width: 40%;
    border:  none;
    border-bottom: 1px solid #000000;
    
}

form button{
    width: 90%;
    height: 5vh;
    border: none;
    box-shadow: 0 0 7px rgb(255, 165, 0);
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffc107;
    transition: background-color 0.3s ease;
}
.container-info-contact{
    width: 50%;
    
}
.info-social-media p {
    margin-top: 15px;
}

.social-media-links{
    margin-top: 10px;
    list-style: none;
    margin-top: 5px;
}
.social-media-links li{
    margin-top: 10px;
}
.social-media-links a{
    text-decoration: none;
    color: black;
}
.social-media-links a:hover{
    color: orange;
}

.social-media-links a img{
    width: 40px;
    height: 40px;
}

.info-adresse{
    margin-top: 20px;
}

footer{
    text-shadow: 0 0 5px rgb(226, 195, 138);
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}